# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
intro/voronoiDrawing/.vs/voronoiDrawing/v15/.suo
*.db
*.ipch
*.exp
*.rc
*.res
*.pdb
*.log
*.tlog
*.sln
*.vcxproj
*.filters
*.user
week2/lineArt/.vs/lineArt/v15/.suo
*.ilk
week2/loopDemo/.vs/loopDemo/v15/.suo
week2/rectangleButton/.vs/rectangleButton/v15/.suo
week2/VJTest/.vs/VJTest/v15/.suo
*.pdb
*.tlog
*.tlog
week2/rectangleButton/obj/Win32/Debug/rectangleButton.tlog/rectangleButton.write.1u.tlog
*.lastbuildstate
*.exp
week2/rectangleButton/obj/Win32/Debug/vc141.pdb
extra/snowflakes/.vs/snowflakes/v15/.suo
extra/snowflakes/.vs/snowflakes/v15/Browse.VC.opendb
extra/snowflakes/.vs/snowflakes/v15/Solution.VC.db-shm
*.db-wal
extra/snowflakes/bin/data/.gitkeep
*.opendb
*.db-shm
*.make
week3/worldMap/.vs/worldMap/v15/.suo
week3/VJTestGui/.vs/VJTest/v15/.suo
*.make
week2/VJTest/addons.make
